@import "tailwindcss";


@theme {
    --color-bg: #FAF9F8;
    --color-accent: #FF6B6B;
    --color-secondary:  #7F3D7E;
    --color-textDark: #2E2E2E;
    --color-textLight:  #6E6E6E;
    --color-hover:  #E85C5C;
    --color-cards:  #F1F1F1;
}


