@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';


html {
  scroll-behavior: smooth;
}

@theme {
    --color-bg: #FAF9F8;
    --color-accent: #FF6B6B;
    --color-secondary:  #7F3D7E;
    --color-textDark: #2E2E2E;
    --color-textLight:  #6E6E6E;
    --color-hover:  #E85C5C;
    --color-cards:  #F1F1F1;
    --font-inter: 'Inter', sans-serif;
    --font-mono: 'Monoton', sans-serif;
}


